.listingCard {
    width: 80%;
    height: 400px;
    text-align: start;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-bottom: 2%;
    border-radius: 10px;
}

.listing {
    width: 382px;
    /* border: 0.5px solid red; */
    height: 438px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 8px;
    border-radius: 22px;
    box-shadow: 0px 4px 12px rgba(166, 166, 166, 0.25);
}

.listingImage {
    height: 75%;
    width: 100%;
    object-fit: cover;
    text-align: center;
}


/* .HospitalLocation {
    margin: 0;
    padding-left: 3%;
} */

.HospitalName {
    font-weight: 700;
    font-size: 1.37rem;
    line-height: 30px;
    color: #00C4CC;
    text-align: start;
}

.HospitalLocation {
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
}

.listing a {
    /* text-decoration: none; */
    color: #137FFF;
    text-align: end;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* position: relative;
    left: 279px; */
}