

.hamburger {
	display: none;
}

.nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

.nav ul li a {
	color: #4e4b4bfa;
	text-decoration: none;
	align-items: center;
	display: flex;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 0.1em;
	line-height: 110%;
	font-style: normal;
}

ul li {
	padding: 0 20px
}

.logoImg {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 768px) {
	.hamburger {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		display: flex;
	}

	.nav .hamburger .close {
		display: none;
	}

	.nav ul.show .open {
		display: none;
	}

	.nav .hamburger .show .close {
		display: block;
	}

	.nav ul {
		display: none;
	}

	.nav ul.show {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		position: fixed;
		padding-top: 30px;
		margin: 0;
		top: 70px;
		left: 0;
		width: 100vw;
		z-index: 100;
	}

	nav ul li {
		margin: 20px 0;
	}

	nav ul a {
		color: #fff;
	}

	nav .img-wrapper {
		text-align: left;
	}
	.headerh1 {
		width: 100%;
		left: 0;
	}
}