#header {
    display: block;
    position: relative;
    background: url('/src/assets/header.png') 50% 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin-top: 72px;
}

.headerh1 {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 110%;
    letter-spacing: 0.1em;
    position: relative;
    left: 72px;
    top: 28px;

}

.headerpara {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 110%;
    letter-spacing: 0.1em;
    color: #262630;
    position: relative;
    left: 85px;

}

.formHeading {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 110%;
    letter-spacing: 0.1em;
    color: #262630;
    position: relative;
    left: 28px;
}

.formPara {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.1em;
    color: #000000;
    position: relative;
    left: 35px;
    top: -20px;
}

.join {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}